@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

html{
    scroll-behavior:smooth;
}

body {
    display:grid;
    grid-template-columns:1fr 85% 1fr;
    grid-template-rows:75px auto auto;
    margin:0 auto;
    height:auto;
}

h1, h2{
    font-weight:normal;
}

h1{
    font-family:DM Serif Display;
}

h2, p{
    font-family:DM Sans;
}

header {
    grid-row:1;
    grid-column:1/4;
    background-color:black;
}

header p {
    padding:10px;
}

header a.logo {
    text-decoration:none;
    display:inline-block;
    color:white;
    font-family:DM Serif Display;
    font-size:2.25em;
    margin-left:2%;
    margin-top:0.75%;
    overflow:none;
}

header nav {
    overflow:hidden;
    float:right;
    width:32.5%;
}

header nav ul{
    list-style:none;
    margin-top:5%;
    padding:0;
}

header nav li{
    display:inline-block;
    padding:0 10px;
    margin-right:5%;
}

header nav a{
    font-family:DM Sans;
    color:white;
    text-decoration:none;
    display:inline-block;
    font-size:20px;
}

nav li.dropdown:hover .dropdown-content {
    display: block;
    text-align:center;
  }

nav li a:hover{
    text-decoration:underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    z-index: 1;
    width:8%;
}

.dropdown-content a {
    color:black;
    padding: 10px 5px;
    text-decoration: none;
    text-align:left;
}

.dropdown-content a:hover{
    text-decoration:underline;
}

a.current{
    text-decoration:underline;
}

.wrapper {
    grid-row:2;
    grid-column:1/4;
    display:grid;    /* another grid to set up inner text boxes*/
    grid-template-columns: 1fr 42.5% 42.5% 1fr;
    grid-template-rows:auto;
    gap:1px;
}

/* index page css */
.box1 {
    grid-column:1/5;
    height:680px;
    text-align:center;
    position:relative;
}

.box1 img{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
}

.box1 h1 {
    font-size:4.5em;
    position:absolute;
    top:20%;
    width:100%;
}

.box1 h2 {
    position:absolute;
    top:30%; 
    width:100%;
    font-size:4.5em;
}

.box2 {
    grid-column:2/4;
    margin:3.5% 10% 0;
    height:auto;
}

.box2 p {
    text-align:center;
    font-size:25px;
    margin-bottom:0;
}

.subtitle {
    grid-column:2/4;
    margin:5% 25% 0;
}

.subtitle p {
    font-size:40px;
    text-align:center;
    margin:0;
}

.left{
    grid-column:2/3;
    margin-top:5%;
    width:100%;
    height:300px;
    text-align:center;
    position:relative;
}

.left img{
    position:absolute;
    left:0;
    width:100%;
    height:100%;
    opacity:60%;
}

.left h1{
    margin:10% 0 0;
    font-size:40px;
    position:absolute;    
    width:100%;
}

.left p{
    width:100%;
    font-size:25px;
    margin-top:20%;
    margin-bottom:0;
    position:absolute;
}

.left a{
    display:inline-block;
    background-color:#f2e5cf;
    color:black;
    text-decoration:none;
    padding:20px 15px;
    margin-top:30%;
    border-radius:10px;
    border:1px solid #d4c7af;
    font-size:20px;
    font-family:DM Serif Display;
    letter-spacing:1px;
    position:absolute;
    left:35%;
}

.left a:hover{
    text-decoration:underline;
    background-color:#eddec2;
    transition:0.2s;
}

.right {
    grid-column:3/4;
    margin-top:5%;
    width:100%;
    height:300px;
    text-align:center;
    position:relative;
}

.right img{
    position:absolute;
    left:0;
    width:100%;
    height:100%;
    opacity:85%;
}

.right h1{
    margin:10% 0 0;
    width:100%;
    font-size:40px;
    position:absolute;
}

.right p{
    width:100%;
    font-size:25px;
    margin-top:20%;
    margin-bottom:0;
    position:absolute;
}

.right a{
    display:inline-block;
    background-color:#f2e5cf;
    color:black;
    text-decoration:none;
    padding:20px 15px;
    margin-top:30%;
    border-radius:10px;
    border:1px solid #d4c7af;
    font-size:20px;
    font-family:DM Serif Display;
    letter-spacing:1px;
    position:absolute;
    left:35%;
}

.right a:hover{
    text-decoration:underline;
    background-color:#eddec2;
    transition:0.2s;
}
/* end of index page css */


/* quiz page css */
.quiz-page{
    grid-column:2/4;
}

.quiz-page h1{
    color:black;
    text-align:center;
}

#quiz{
    background-color:#f2e5cf;
    border:1px solid #d4c7af;
    margin:0 7.5%;
    color:black;
}

#quiz h1{ 
    text-align:center;
    margin-top:5%;
    color:black;
}

#quiz h2{
    right:10%;
    position:absolute;
    margin:-2% 0 0;
    width:10%;
}

#quiz .choices{
    text-align:center;
    margin:0 auto;
    font-size:25px;
}


.choicebox{
    display:inline-block;
    height:auto;
    width:20%;
    margin-top:2%;
}

.choicebox-text {
    display:inline-block;
    font-size:20px;
    width:37.5%;
    text-align:left;
    vertical-align:top;
    margin-right:15px;
}

.choicebox img{
    width:90%;
    height:90%;
    margin:0 auto;
}

.choicebox p{
    display:inline-block;
}

.choicebox p.text{
    font-size:20px;
    margin:0;
}

.choicebox input{
    margin:0 15px 0 -5px;
}

.choicebox-text input {
    margin:0 15px 0 0;
}

#quiz #submit{
	background-color:#d4c7af;
	border:none;
	padding:12px 30px;
	cursor:pointer;
	color:black;
	margin:2% auto;
	display:block;
    border-radius:10px;
    font-family:DM Serif Display;
    font-size:20px;
}

#quiz #submit:hover {
    background-color:#bdb19d;
}

#yourresult{
    display:none;
    height:auto;
    min-height:335px;
    padding-bottom:35px;
    margin:0 7.5%;
    background-color:#f2e5cf;
    border:1px solid #d4c7af;
    text-align:center;
    color:black;
}

#yourresult #resulthead {
    font-size:40px;
}

#yourresult #result{
    font-size:25px;
    margin:0 10% 5%;
    line-height:1.2;
}

#yourresult #redirect a{
    font-size:20px;
    color:black;
    text-decoration:none;
    font-family:DM Sans;
}

#yourresult #redirect a:hover{
    text-decoration:underline;
}
/* end of quiz page css */

/* article list page css */
.article-list{
    grid-column:2/4;
    height:auto;
}

.article-list h1{
    text-align:center;
}

.article-list p.subheading{
    margin:0;
    text-align:center;
    font-size:20px;
}

.article-list .image{
    width:25%;
    height:180px;
    margin-left:5%;
    margin-bottom:3%;
    display:inline-block;
}

.article-list .image-first{
    width:25%;
    height:180px;
    margin:2% 0 3% 5%;
    display:inline-block;
}

.article-list .image img{
    width:100%;
    height:180px;
}

.article-list .image-first img{
    width:100%;
    height:180px;
}

.article-list .title{
    width:50%;
    display:inline-block;
    vertical-align:top;
}

.article-list .title p{
    padding-left:20px;
    font-size:20px;
    width:60%;
}

.article-list .title a{
    display:inline-block;
    text-decoration:none;
    color:black;
    margin-top:0;
    padding-top:0;
    font-size:30px;
    padding-left:20px;
    font-family:DM Serif Display;
}

.article-list .title a.first{
    margin-top:5%;
}

.article-list .title a:hover{
    text-decoration:underline;
}

.article-list .nav-buttons{
    text-align:center;
    margin-top:2%;
    width:100%;
}

.article-list .nav-buttons a{
    margin:0 5%;
    text-decoration:none;
    color:black;
    padding:5px;
    background-color:#f2e5cf;
    border-radius:5px;
}

.article-list .nav-buttons a.page1{
    visibility:hidden;
}

.article-list .nav-buttons a:hover{
    background-color:#eddec2;
}

.article-list .nav-buttons p{
    margin-top:-1.5%;
}

/* end of article list page css */

/* article page css */
.article{
    grid-column:2/4;
    height:auto;
    margin:5% 7.5% 0;
}

.article h1{
    padding-left:60px;
    font-size:40px;
    margin-bottom:0;
}

.article h2{
    margin-top:0;
    padding-bottom:15px;
    padding-left:60px;
    font-size:18px;
}

.article .video{
    margin:0 5% 1%;
}

.article p{
    padding:0 60px;
    font-size:25px;
    margin-bottom:0;
    line-height:1.25em;
}

.article p.credit{
    padding:0 60px;
    font-size:18px;
    margin-top:0;
}

.article .content-image-resized img{
    float:right;
    width:30%;
    height:200px;
    margin:2% 60px 0 2%;
}


.article .content-image img{
    float:right;
    width:auto;
    height:auto;
    margin:2% 60px 0 0;
}

.article .content-image-left img{
    float:left;
    width:auto;
    height:auto;
    margin:2% 0 0 2%;
}

.similar{
    grid-column:2/4;
    height:auto;
    margin:2.5% 0 0;
}

.similar h1{
    text-align:center;
}

.similar .flex-container{
    margin-top:3%;
    display:flex;
}

.similar .flex-child{
    flex:1;
    height:200px;
    margin:0 2%;
}

.similar .flex-child img{
    width:100%;
    height:200px;
}

.similar .flex-container2{
    display:flex;
}

.similar .flex-child2{
    flex:1;
    text-align:center;
}

.similar a{
    display:inline-block;
    margin-top:1%;
    font-size:18px;
    text-decoration:none;
    color:black;
    font-family:DM Sans;
}

.similar a:hover{
    text-decoration:underline;
}
/* end of article page css */


/* all products page css */
.products {
    grid-column:1/5;
    height:auto;
    text-align:center;
}

.products p.subheading{
    text-align:center;
    font-size:20px;
}

.container{
    margin-left:1.5%;
    height:auto;
}

.product-box{
    float:left;
    height:369.64px;
    width:24vw;
    text-align:center;
    word-wrap:break-word;
    border-right:1px solid grey;
    border-bottom:1px solid grey;
}

.top-row .product-box{
    border-top:2px solid grey;
}

#first{
    border-left:1px solid grey;
}

.product-box .image{
    height:250px;
    margin:7% 9% 3%;
}

.product-box .image img{
    width:250px;
    height:250px;
}

.product-box a{
    text-decoration:none;
    color:black;
    font-family:DM Sans;
}

.product-box a:hover{
    text-decoration:underline;
}

.product-box p{
    margin:0 auto 2%;
}

.product-box a.h2{
    font-size:20px;
    margin:0;
}

.products .nav-buttons{
    margin-top:2%;
    display:inline-block;
    width:20%;
}

.products .nav-buttons a{
    margin:0 12%;
    text-decoration:none;
    color:black;
    padding:5px;
    background-color:#f2e5cf;
    border-radius:5px;
}

.nav-buttons a.page1{
    visibility:hidden;
}

.nav-buttons a.page4{
    visibility:hidden;
}

.products .nav-buttons a:hover{
    background-color:#eddec2;
}

.products .nav-buttons p{
    margin-top:-6%;
}
/* end of all products page css */


footer {
    grid-column:1/4;
    grid-row:3;
    background-color:black;
    height:auto;
    text-align:center;
    margin-top:5%;
    color:white;
    bottom:0;
}

footer h1{
    font-size:40;
    font-family:DM Serif Display;
    margin:0;
    margin-top:2%;
}

footer p{
    margin:5px 0 3%;
}

footer a{
    position:absolute;
    margin-top:3%;
    margin-left:42%;
    text-decoration:none;
    color:white;
    font-family:DM Sans;
}

footer a:hover{
    text-decoration:underline;
}
